<div class="about-container">
  <h1>About ElectraTech</h1>
 
    
  <p>
  At ElectraTech, we offer a wide range of cutting-edge electronic products designed to make your life easier and more enjoyable. 
  From high-performance laptops and sleek smartphones to smart home devices and essential accessories, 
  our collection combines the latest technology with exceptional quality. 
  Whether you're a tech enthusiast, a professional, or just looking for reliable gadgets, 
  ElectraTech has the perfect products to meet your needs.
</p>

</div>
