<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-section about">

       <div class="footer-section contact">
      <h3>Contact Us</h3>
      <p><i class="fas fa-map-marker-alt"></i> Amman, Jordan</p>
      <p><i class="fas fa-phone"></i> +962 700 000 000</p>
      <p><i class="fas fa-envelope"></i> support@electratech.com</p>
    </div>

     
    </div>

    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/about">About Us</a></li>
      </ul>
    </div>

  
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 ElectraTech - All rights reserved to John Michael</p>
  </div>
</footer>
