.home {
  text-align: center;
  padding: 50px;

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: #ff4c3b;
    }
  }
}
